.center__child{
  display: flex;
  justify-content: center;
  align-items: center;
}

.botton__child{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datosEmpresa{
  margin-bottom: 0rem; 
}

.number__nit{
  font-size: 120%;
  font-weight: 700;
}

.form-label{
  font-size: 80%;
  margin-bottom: 0rem;
}

.tabla__ventas input{
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  color: #505050;
  outline: 0;
}

.input__codigo{
  width: 100%;
  border: 0;
  /* border-bottom: 2px solid #9b9b9b; */
  color: #505050;
  outline: 0;
  font-size: 80%;
}

.input__money{
  text-align: right;
}

.tabla__ventas th{
  font-size: 0.7rem;
}

.tabla__ventas tbody td{
  border-top: 0px;
}

.tabla__ventas tfoot td{
  font-size: 130%;
  font-weight: bold;
}

.hr__separador {
  height: 10px;
  background-color: #F0F0F0;
  border-color: #F0F0F0;
}

.td__codigo {
  width: 10rem;
}

.td__cantidad {
  width: 4rem;
}

.td__concepto {
  width: 15.5rem;
}

.td__monto {
  width: 9.5rem;
}

.td__descuento {
  width: 7.5rem;
}

@media screen and (min-width: 400px) {
  .center__child{
    margin-top: 1rem;
    font-size: 80%;
  }
}
